<!-- fragment 3 start -->
<table class="w-full">
  <tr>
    <td align="center" valign="top" class="p-5 pb-8">
      <table
        align="center"
        border="0"
        cellpadding="0"
        cellspcing="0"
        bgcolor="#008080"
        style=" border-radius: 10px;max-width: 350px;width: 100%;"
      >
        <tr>
          <td
            align="center"
            valign="top"
            class="text-center pt-2 pb-2 pl-3 pr-3 font-bold"
            style="
              font-size: 20px;
              line-height: 26px;
              color: #ffffff;
            "
          >
            Ut enim ad minim veniam
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- fragment 3 end -->
