<!-- fragment 5 start -->
<table class="w-full">
  <tr>
    <td align="center" valign="top" bgcolor="#F0F5F5" colspan="3" class="p-5 pt-2">
      <table class="w-full" align="center" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="center" valign="middle" width="270" bgcolor="#FFFFFF">
            <table class="w-full" align="center" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center" valign="top" class="pt-5">
                  <img src="images/circle.png" alt="circle" style="display: block;margin: auto;max-width: 100px;width: 100%;" width="100" height="auto">
                </td>
              </tr>
              <tr>
                <td align="center" valign="top" style="font-size: 20x;line-height: 26px;color: #005555;" class="text-center font-bold pt-3">
                  Nisi ut ade
                </td>
              </tr>
              <tr>
                <td align="center" valign="top" style="font-size: 16px;line-height: 22px;color: #444444;" class="text-center font-normal p-5 pt-3">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.¹
                </td>
              </tr>
              </table>
          </td>
          <td align="center" valign="middle" width="20">
            
          </td>
          <td align="center" valign="middle" width="270" bgcolor="#FFFFFF">
            <table class="w-full" align="center" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center" valign="top" class="pt-5">
                  <img src="images/circle.png" alt="circle" style="display: block;margin: auto;max-width: 100px;width: 100%;" width="100" height="auto">
                </td>
              </tr>
              <tr>
                <td align="center" valign="top" style="font-size: 20x;line-height: 26px;color: #005555;" class="text-center font-bold pt-3">
                  Duis aute irure
                </td>
              </tr>
              <tr>
                <td align="center" valign="top" style="font-size: 16px;line-height: 22px;color: #444444;" class="text-center font-normal p-5 pt-3">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.¹
                </td>
              </tr>
              </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- fragment 5 end -->
