<table class="w-full ">
  <tr>
    <td align="center" valign="middle" class="pt-5 pl-5 pb-5">
      <img src="images/header_logo.png" alt="Sample Image" width="110" height="auto" style="display:block; border:0;">
    </td>
    <td align="center" valing="middle" style="text-align: left;font-size: 12px;line-height: 16px;color: #002B2B;" class="pt-5 pl-5 sm:pl-3 pb-5 pr-5">
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </td>
  </tr>
</table>
