<table class="w-full">
  <tr>
    <td class="p-5 pt-8 font-bold text-left" style="font-size: 12px;line-height: 18px;color: #000000;" colspan="2">
      Sint occaecat cupidatat:
    </td>
  </tr>
  <tr>
    <td class="pl-5 font-normal text-center" style="font-size: 12px;line-height: 18px;color: #000000;" width="5px" align="center" valign="top">
     1.
    </td>
    <td class="pl-5 pr-5 font-normal text-left pl-2 sm:w-full" style="font-size: 12px;line-height: 18px;color: #000000;" width="540px" align="center" valign="top">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    </td>
  </tr>
  <tr>
    <td class="pl-5 font-normal text-center" style="font-size: 12px;line-height: 18px;color: #000000;" width="5px" align="center" valign="top">
     2.
    </td>
    <td class="pl-5 pr-5 font-normal text-left pl-2 sm:w-full" style="font-size: 12px;line-height: 18px;color: #000000;" width="540px" align="center" valign="top">
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
    </td>
  </tr>
</table>
